p {
    font-family: Arial;
}

.artBlock {
    height: 250px;
    border: solid;
    border-color: transparent;
    border-radius: 30px;
    border-width: 5px;
}

.art {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.pfpBlock {
    margin-top: -60px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.pfp {
    width: 120px;
    height: 120px;
    border: solid;
    border-color: black;
    border-radius: 120px;
    border-width: 10px;
    border-color: white;
}

.menuButtonsBlock {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menuButton {
    background-color: #76a8ff;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.menuButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.menuButton:active {
    opacity: 0.5;
}

.youtubeButton {
    background-color: #ff0000;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.youtubeButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.youtubeButton:active {
    opacity: 0.5;
}

.tiktokButton {
    background-color: #001627;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.tiktokButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.tiktokButton:active {
    opacity: 0.5;
}

.githubButton {
    background-color: #001627;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.githubButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.githubButton:active {
    opacity: 0.5;
}

.itchButton {
    background-color: #ff7300;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.itchButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.itchButton:active {
    opacity: 0.5;
}

.discordButton {
    background-color: #7816FFFF;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.discordButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.discordButton:active {
    opacity: 0.5;
}

.xButton {
    background-color: #001627;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.xButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.xButton:active {
    opacity: 0.5;
}

.instaButton {
    background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
    );
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 6px;
    transition: 0.15s;
    cursor: pointer;
}

.instaButton:hover {
    width: 68px;
    height: 48px;
    margin: 2px;
}

.instaButton:active {
    opacity: 0.5;
}

.infoBlocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    height: auto;
    border: solid;
    border-color: #acacac;
    border-radius: 15px;
    border-width: 3px;
    margin: 3px;
    padding-top: 3px;
    padding-left: 3px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.15s;
}

.infoBlock:hover {
    width: 70%;
}

.circle-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: solid;
    border-color: #acacac;
    transition: 0.15s;
}

.circle-img:hover {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    opacity: 0.8;
}

.circle-img:active {
    opacity: 0.5;
}

.infoText {
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.infoPfp {
    width: 25%;
    height: auto;
    aspect-ratio: 1 / 1;
    transition: 0.15s;
    margin-right: 10px;
}

.infoTitle {
    color: black;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.infoDescription {
    color: #454545;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
}